.confirmed {
    display: grid;
    align-items: center;
    justify-items: center;
    
    .text {
        font-size: 1.4rem;
        width: max-content;
        margin: 0rem 0rem 2rem 0rem;
        text-align: center;
        text-wrap: wrap;
        width: 300px;
    }

    .yes {
        width: 90px;
        padding: 5px 10px;
        background-color: var(--red);
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 1.6rem;
        font-weight: 700;
        margin-right: 1rem;
        cursor: pointer;
    }

    .no {
        width: 90px;
        padding: 5px 10px;
        background-color: var(--secondary);
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 1rem;
        cursor: pointer;
    }
}